In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
log = pd.read_csv('log.csv', header=None)
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   object
 1   1       985 non-null    object
 2   2       485 non-null    float64
 3   3       138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

In [3]:
users = pd.read_csv('users.csv', sep='\t', encoding="koi8-r")
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Юзверь  100 non-null    object
 1   мейл    99 non-null     object
 2   Гео     97 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB

In [4]:
log.dropna()

,0,1,2,3
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0
...,...,...,...,...
967,Запись пользователя № - user_975,[2019-04-19 22:25:15,1000.0,6108.0
971,Запись пользователя № - user_912,[2019-04-20 10:35:49,10554.0,31799.0
972,Запись пользователя № - user_926,[2019-04-20 10:35:50,10354.0,30244.0
976,Запись пользователя № - user_970,[2019-04-20 10:35:54,10354.0,30691.0
991,Запись пользователя № - user_965,[2019-04-20 12:55:41,800.0,6927.0

In [5]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   object
 1   1       985 non-null    object
 2   2       485 non-null    float64
 3   3       138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

In [6]:
log.columns = ['user_id', 'time', 'bet', 'win']

In [7]:
log.time = log.time.apply(lambda x: str(x).replace('[',''))

In [8]:
time = [0,5,11,17,23]
typeTime = ['night','morning','day','afternoon']
log.time =  pd.to_datetime(log['time'])
log.hour = log.time.apply(lambda x: x.hour)
hour_type = pd.cut(log.hour, time, labels = typeTime)
log['hour_type'] = hour_type
log['hour_type'].value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

morning      253
day          240
night        228
afternoon    227
Name: hour_type, dtype: int64

In [9]:
log.time =  pd.to_datetime(log['time'].astype(str))
log.time.apply(lambda x: x.dayofweek).value_counts()

5.0    152
2.0    150
1.0    150
0.0    135
4.0    135
3.0    132
6.0    131
Name: time, dtype: int64

In [10]:
log.bet = log.bet.fillna(0)

In [11]:
log["win"] = np.where(log["bet"]== 0 & pd.isna(log["win"]), 0, log["win"])

In [12]:
log.win.value_counts()

0.0        515
6108.0       2
4733.0       2
7035.0       1
6575.0       1
          ...
29719.0      1
5950.0       1
5387.0       1
5450.0       1
6516.0       1
Name: win, Length: 137, dtype: int64

In [13]:
pd.isna(log.win[0])

False

In [14]:
for i in log.index:
    if pd.isna(log['win'][i]):
        if log['bet'][i] == 0:
            log['win'][i] = 0
        else:
            log['win'][i] = -log['bet'][i]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
log.win.value_counts()

 0.0       515
-100.0      35
-300.0      34
-500.0      33
-600.0      31
          ...
 6359.0      1
 6134.0      1
 5245.0      1
 5066.0      1
 3927.0      1
Name: win, Length: 170, dtype: int64

In [16]:
log['net'] = abs(log.win) - log.bet

In [17]:
log[log.net > 0].net.median()

5347.0

In [18]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log.bet.fillna(0)
log.win = log.win.fillna(0)

In [19]:
log['net'] = log.win - log.bet

In [20]:
log[log.bet > 0].bet.count() / log.bet.count()

0.485

In [21]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   time     985 non-null    object
 2   bet      1000 non-null   float64
 3   win      1000 non-null   float64
 4   net      1000 non-null   float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [22]:
log[log.bet >0].bet.mean()

6785.738144329897

In [23]:
log[log.bet >0].net.mean()

20421.892783505155

In [24]:
log[log.win > 0  ].win.count()/log.win.count()

0.138

In [25]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Юзверь  100 non-null    object
 1   мейл    99 non-null     object
 2   Гео     97 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB

In [26]:
users.columns = ['user_id', 'email', 'geo']
users.user_id = users.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])

In [27]:
df = pd.merge(log, users, on='user_id')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 975 entries, 0 to 974
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  975 non-null    object
 1   time     975 non-null    object
 2   bet      975 non-null    float64
 3   win      975 non-null    float64
 4   net      975 non-null    float64
 5   email    967 non-null    object
 6   geo      950 non-null    object
dtypes: float64(3), object(4)
memory usage: 60.9+ KB

In [37]:
df.groupby('user_id').win.median().unique()

array([   0., 5237., 5398.])

In [36]:
df.groupby('user_id').net.median().sum()

6085.0

In [46]:
df.groupby('user_id').win.sum().median()

6482.0

In [47]:
group = df.groupby('user_id')

In [80]:
group

In [82]:
df.groupby('geo').win..max().sort_values()

geo
Тюмень                4701.0
Екатеринбург          6173.0
Ставрополь           29324.0
Красноярск           29719.0
Краснодар            29839.0
Ижевск               29981.0
Санкт-Петербург      30071.0
Арзангелтск          30381.0
Ярославль            31016.0
Хабаровск            31188.0
Казань               31485.0
Воронеж              31799.0
Пермь                32279.0
Москва             9876543.0
Name: win, dtype: float64