In [6]:
import pandas as pd
import numpy as np
a = pd.DataFrame([[20,23,29,22,50,43,35],[70,65,58,90,45,57,50]])
a = a.T

In [12]:
a.std()

0    11.455920
1    14.893271
dtype: float64

In [13]:
a.corr()

         0        1
0  1.00000 -0.76948
1 -0.76948  1.00000

In [14]:
a.mean()

0    31.714286
1    62.142857
dtype: float64

In [17]:
a = pd.DataFrame([[20,23,29,22,50,43,35,98,28],[70,65,58,90,45,57,50,90,38]])
a = a.T
a

    0   1
0  20  70
1  23  65
2  29  58
3  22  90
4  50  45
5  43  57
6  35  50
7  98  90
8  28  38

In [18]:
a.mean()

0    38.666667
1    62.555556
dtype: float64

In [19]:
a.corr()

          0         1
0  1.000000  0.313845
1  0.313845  1.000000

In [21]:
x = 37
o = 3.4
n = 200
37 +1.96*3.4/2

40.332

In [23]:
x = 7.6
o = 0.8
n = 60
a = 2.58
x +a*o/2

8.632

In [24]:
n = 15
x = 2000
o = 400

In [3]:
from scipy.stats import norm
import math

def confidence_interval_norm(alpha, sigma, n, mean):
    value = -norm.ppf(alpha / 2) * sigma / math.sqrt(n)
    return mean - value, mean + value

In [26]:
confidence_interval_norm(0.9, o, n, x)

(1987.0217519031548, 2012.9782480968452)

In [1]:
from scipy.stats import t
import math
def confidence_interval_t(alpha, s, n, mean):
    value = t.ppf(alpha / 2, n - 1) * s / math.sqrt(n)
    return mean - value, mean + value

In [33]:
confidence_interval_t(0.9, o, n, x)

(2013.2157226884779, 1986.7842773115221)

In [13]:
n =250
o = 1150
x = 3540

a =x +norm.ppf(0.99/2)*o*(n**(1/2))
a

3312.102713878828